@media screen and (max-width: 768px)
{
    header,main
    {
        padding :0;
    }
     header nav
    {
        flex-direction: column;
    }
    #logo
    {
        display: flex;
        justify-content: center;
        padding: 0 10px ;
    }
    #logo img
    {
        margin-left: 25%;
        margin-top: 6%;
    }
    header #navigation-bar
    {
        width: 100%;
        padding : 0px;
    }
    header ul li
    {
        
        width: 50%;
        border-bottom: 2px solid #f2f2f2;
    }
    header ul li :hover
    {
        border-top: none;
        border-bottom: 2px solid #0065fc;
    }
    header a
    {
        display: flex;
        justify-content: center;
    }
    /**** SEARCH ****/
     #search-header
     {
         padding: 0 25px;
     }

     .mobile
     {
         display: block;
     }
     .normal
     {
         display: none;
     }
     #search-main
     {
         padding : 10px;
     }
     #search-main button
     {
         border-radius: 14px;
         padding: 13px 16px;
     }
    /************* FILTERS *********/
    #filters
    {
        display: flex;
        align-items: flex-start;
    }
    #filters-title
    {
        width: 100%;
        padding: 0 25px;
    }
    .filters-choices
    {
        flex-wrap: wrap;
        margin: 20px;
    }
    /************* INFORMATIONS *********/
    #informations
    {
        padding : 0 0 0 18px; 
    }
    #hosting
    {
        flex-direction: column;
        height: auto;
    }

    #popular
    {
        order: 1;
        width: 100%;
        border-radius:initial;
    }
    .popular-card
    {
        flex-direction: column;
    }
    #marseille
    {
        flex-direction: column;
        order: 2;
        width: 100%;
        background-color: white;

    }
    .marseille-card
    {
        width: 90%;
        margin: 10px auto 10px auto;
    }
    /************* FOOTER *********/


    /************* ACTIVITY *********/
    #activity
     {
        flex-direction: column;
        height: auto;
        overflow: hidden;
     }
    .colonne
    {
        width: 85%;
        height: 260px;
        margin: 10px auto 10px auto;    
    }
    .colonne img
    {
        height: 80%;
    }
    .colonne-2
    {
        width: 85%;
        margin: 10px auto 10px auto;
    }
    .colonne-2 .item1
    {
        height: 260px;
        margin: 10px;
        margin: 10px 0 20px 0;
    }
    .colonne-2 .item2
    {
        height: 260px;
    }
    .colonne-2 .item2 img
    {
        height: 80%;
    }
    .colonne-4
    {
        width: 85%;
        margin: 10px auto 10px auto;

    }
    .colonne-4 .item1
    {
        height: 260px;
        margin: 10px 0 20px 0;

    }
    .colonne-4 .item2
    {
        height: 260px;
    }
    #footer-box
    {
        flex-direction: column;
        justify-content: center;
    }
    .footer-information
    {
        width: 61%;
    }
 

}
